body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 21px;
   }
   
.dot {
    border: #333 ;
    border-radius: 20px;
    border-style: dotted;
   }

   header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
   }

   .naw {
    flex: 1 1 20%;
    flex-basis:20%;
    font-size: 17px;
   }
   
   nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
   }
   
   nav li {
    margin-right: 20px;
   }
   
   nav a {
    color: #fff;
    text-decoration: none;
   }
   
   main {
    display: flex;
   }
   
   aside {
    /* background-color: #f2f2f2; */
    padding: 10px;
    flex-basis: 15%;
    height: auto;
    background-image: url("images/backg1.jpg");
    background-size:inherit;
   }


   
   aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
   }
   
   aside li {
    margin-bottom: 10px;
   }
   
   section {
    padding: 10px;
    flex-basis: 70%;
   }
   
   footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
   }

   
   
   
   .center-block, .right-block {
    flex-basis: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .left-block, .right-block{
    margin:auto;
   }

   .parent_div {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
   }

   .son_div {
    flex: 1 1 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
   }

   .icon {
    width: 45px;
   }

    .main_foto {
    width:100%;
   } 

   .backg {
    background-image: url("images/backg.jpg");
    background-size:inherit;
   }

   .backg2 {
    background-image: url("images/back_brick.jpg");
    background-size:cover;
    
    background-position-x: center;
    padding-top: 100px;
   }

   .btn, .btn-w {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    transition: color 1s, border-color 1s;
}

.btn:hover, .btn-w:hover {
    color: blue;
    border-color: blue;
}

.btn-w {
    color: white;
    border: 2px solid white;
}


.form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    color:yellow;
    /* border: 2px solid #cccccc; */
    /* border-radius: 10px; */
    
  }
  
  .required-field {
    color: red;
    font-weight:lighter;
  }

  .bw {
    font-size: 25px;
    color:yellow;
   }

   .table {
    display: center;
    margin: 0px 20px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  td {
    text-align: left;
    padding: 8px;
  }

  th {
    text-align: center;
    padding: 8px;
    padding-left: 40px;
  }
  
  tr:hover {
    background-color: #ddd;
    border-color: black;
    border-style: double;
    border-width: 2px;
    border-radius:20%;
  }

  @media print {
    aside,
    header, 
    footer, 
    .naw, 
    .center-block{
      display: none;
    }

    .son_div {
      width: 100%;
    }
  }